.bg-image1 {
  background-image: url('../../assets/images/Splendor/index/Parallax/VRMan.jpg');
  width: auto;
  height: auto;
}

.bg-image2 {
  background-image: url('../../assets/images/Splendor/index/Parallax/BuchanansParallax.png');
  width: auto;
  height: auto;
}

.bg-image3 {
  background-image: url('../../assets/images/Splendor/index/Parallax/OldParrParallax.png');
  width: auto;
  height: auto;
}

.bg-image4 {
  background-image: url('../../assets/images/Splendor/index/Parallax/ACMEParallax.png');
  width: auto;
  height: auto;
}

.bg-cabecera-nosotros{
  background-image: url('../../assets/images/Splendor/Quienes somos/Portada.jpeg');
  width: auto;
  height: auto;
}

.bg-cabecera-index{
  background-image: url('../../assets/images/Splendor/index/Cabecera-Inicio.jpg');
  width: auto;
  height: auto;
}

.image-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.image-list li {
  margin: 10px;
}

.image-list li img {
  width: 300px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 25px;
  margin: auto;
}

.tiny-slide{
  width: 300px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 25px;
}

.image-list li img.selected {
  transform: scale(1.1);
}
